/*页面总宽度*/
#wrap{
	width: 100%;
	max-width: 1440px;
	min-width: 1280px;
	margin: 0 auto;
}
.container{
	width: 1100px; 
	margin-left: auto;
	margin-right: auto;
}
/*主体内容宽度*/
.inner{
	width: 1000px;
	margin: 0 auto;
}
/*头部区域*/
.header{
	position: relative;
}
.top{
	height: 72px;
	position: absolute;
	z-index: 9;
	top: 0;
	width: 100%;
}
.top .inner{
	height: 72px;	
}
.top .logo{
	float: left;
	margin-top: 26px;
}
.top .nav1{
	float: right;
}
.top .nav1 li{
	float: left;
}
/*导航点击*/
.active{
	background-image: url(../images/a15.png);
	background-repeat: no-repeat;
	background-position: 90px 33px;
}
.top .nav1 li a{
	display: block;
	width: 105px;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	color: #14488d;
	text-align: center;
}
/*banner*/
.banner img{
	width: 100%;
	vertical-align: bottom;
}
/*main*/
.main{
	margin-top: 40px;
}

/*title*/
.title{
	width: 280px;
	height: 70px;
	text-align: center;
}
.title p{
	font-size: 20px;
	font-weight: bold;
	color: #ef7e0c;
	margin-left: 80px;
	margin-top: -35px;
}

/*contain*/
.container{
	margin-top: 24px;
}	
/*content*/
.content{
	margin-left: 40px;
	width: 100%;
	min-height: 200px;
	float: left;
	font: 14px/24px;
}
.tab-list {
	float: left;
}
/*选项卡点击active*/
.liactive:after{
	content: '';
	position: absolute;
	left: 165px;
	top: 30px;
	width: 0; 
 	height: 0;
 	border-width: 10px;
 	border-style: solid;
 	border-color: transparent transparent transparent #616bd0;
}
.tab-list li{
	width: 165px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin-bottom: 5px;
	color: #fff;
	font-size: 16px;
	background-color: #616bd0;
	position: relative;
	margin-left: -100px;
}
.tab-list li img{
	display: none;
	position: absolute;
	left: 165px;
	top: 30px;
}
.tab-container {
	width: 845px;
	font-size: 14px;
	float: left;
}
.tab-container>li{
	display: none;
}
.tab-container p{
	margin-top: 10px;
	text-indent: 20px;
}
.tab-container .up{
	margin-left: 40px;
}
.tab-container .up .span{
	color: #14488d;
}
.tab-container .up1{
	margin-top: 30px;
}
.tab-container .up2{
	height: 230px;
	line-height: 30px;
}
.tab-container .up2 .img{
	margin-left: 45px;
	height: 230px;
	float: right;
}
.tab-container .img-box{
	width: 845px;
	margin-left: 40px;
	margin-top: 30px;
}
.tab-container .up2 .line{
	width: 150px;
	height: 15px;
	background-color: #6173d2;
	margin-left: 655px;
	margin-top: 30px;
}
.title-list{
	height: 50px;
	margin-top: 20px;
}
.title-list li:nth-child(1){
	margin-left: 35px;
}
.title-list li{
	float: left;
	width: 115px;
	height: 50px;
	margin-top: 20px;
	margin-right: 20px;
	line-height: 50px;
	background-image: url(../images/a11.png);
	background-repeat: no-repeat;
}
.title-list li p{
	text-align: center;
	margin-left: -20px;
	margin-top: 0;
}
.title-container{
	margin-top: 320px;
}
.title-container>li{
	display: none;
	margin-top: 20px;
	height: 670px;
	width: 900px;
	border: 1px solid #6176d2;
}
.title-container-list li{
	width: 870px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 30px;
	background-image: url(../images/a13.png);
	background-repeat: no-repeat;
}
.tab-container>li>.left-img{
	margin-left: 50px;
	float: left;
}
.tab-container>li .right-content p{
	margin-top: 25px;
	text-indent: 0;
	font-size: 14px;
}
.QA-title{
	height: 50px;
	margin-left: 30px;
	line-height: 30px;
	color: #14488d;
	background-image: url(../images/a26.png);
	background-repeat: no-repeat;
}
.QA-title1{
	background-image: url(../images/a27.png);
}
.QA-title2{
	background-image: url(../images/a28.png);
}
.QA-content>p{
	color: #333333;
	margin-top: -10px;
	text-indent: 0;
	margin-left: 30px;
}	
.table{
	margin-left: 120px;
}
.table tr th{
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: #616fd1;	
}
.one{
	width: 160px;
}
.two{
	width: 280px;
}
.three{
	width: 180px;
}
.tr1{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #616fd1;
}
.video-box{
	margin-left: 140px;
	position: relative;
	width: 586px;
	height: 485px;
	border: 2px solid #6170d1;
}
.video-box>.title{
	height: 80px;
	line-height: 80px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #6170d1;
	width: 100%;
	border-bottom: 2px solid #6170d1; 
}
.video-box .icon{
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
}
.team-img{
	width: 800px;
	margin-left: 40px;
}
.develope{
	margin-left: 30px;
	position: relative;
}
.develope .img{
	margin-top: 50px;
	float: left;
}
.develope .line{
	position: absolute;
	top: 90px;
	width: 150px;
	height: 15px;
	background-color: #6173d2;
}
.develope .develope-content{
	float: right;
	width: 500px;
	margin-top: 40px;
	text-indent: 30px;
}
.develope .span{
	color: #6172d2;
	font-size: 16px;
}
.box{
	margin-left: 40px;
	width: 800px;
	height: 100px;
	border: 1px solid #6173d2;	
}
.box p{
	display: block;
	width: 760px;
	margin-left: 20px;
}
.box-content .span,.span-title{
	color: #6173d2;
}
.box-content p{	margin-left: 60px;
	display: block;
	width: 760px;
}
/*版权*/
.copyright{ 
	margin:60px auto 0; 
	width:100%; 
	height:50px; 
	line-height:50px;
	text-align:center;
	font-size:12px;
	background-image: url(../images/a2.png);
	background-repeat: no-repeat;
}
.copyright img{
	vertical-align: text-bottom;
}
